.formulario {
    display: block;
    min-width: 47%;
    min-height: 20%;
    margin: auto;
    border: 1px black solid;
    border-radius: 10px;
}

.row {
    display: flex;
    margin: 10px;
}

.col {
    border: 1px solid red;
}

label {
    width: auto;

}

.input {
    margin-left: auto;
}

.center {
    display: flex;
    margin: auto;
}

.title {
    margin: 0 auto;
    font-size: large;
}